<!DOCTYPE html>
<html lang="en">
 <head>
    <!-- Required meta tags -->
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Trying out my very first bootstrap template." />
	<meta name="author" content="" />
	<title>Ajisegiri: Lab6 </title> 
	<link href="../static/CSS/StyleSheet.css" rel="stylesheet" />
 </head>
 <body id="page-top" data-spy="scroll" data-target="#navMenu" data-offset="20">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
	<a class="navbar navbar-brand" href="#page-top"><i class="fas fa-globe"></i>LOGO</a>
	<button class="navbar-toggler navbar-toggler-right bg-dark" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">Menu<a>&equiv;</a></button>
	<div class="collapse navbar-collapse" id="navMenu">
	  <ul class="navbar-nav ml-auto float-right">  
		<li class="nav-item mx-auto text-center"><a class="text-white p-2" href="/">Home</a></li>
		<li class="nav-item mx-auto text-center"><a class="text-white p-2" href="/about">About</a></li>
		<li class="nav-item mx-auto text-center"><a class="text-white p-2" href="/project">Projects</a></li>
		<li class="nav-item mx-auto text-center"><a class="text-white p-2" href="/contact">Contact</a></li>
	  </ul>
	 </div>
   </nav>
   <!-- Contact  -->
   <section class="footer text-center bg-secondary text-white pt-4" id="contact">
   	 <!-- Map using google map API -->
     <div class="map my-auto">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24840.79701821471!2d-77.028191!3d38.898837!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3e49841d60cf0fec!2sWhite%20House%20Visitor%20Center!5e0!3m2!1sen!2sus!4v1587962260759!5m2!1sen!2sus" width="100%" height="425" frameborder="0" style="border:4px solid black;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe> 
	 </div>	
     <div class="container">
	   <div class="row">
	     <div class="col-lg-6 col-md-6 col-sm-3">
		    <h3 class="text-uppercase">Address</h3>
			<address>
			  1616 McCormick Dr,<br>
			  Largo, MD 20774<br>
			  <abbr title="Phone">P:</abbr> (123) 456-7890<br>
			  <a href="mailto:#">first.last@example.com</a>
			</address>
         </div>	
         <div class="col-lg-6 col-md-6 col-sm-4">
		   <h3 class="text-uppercase">Social Media</h3>
		   <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
		   <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a>
		   <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a>
		   <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-google-plus-g"></i></a>
        </div>		
	   </div>		 
	  </div>
	</div>
	</section>
   <!-- Footer -->
   <!-- Footer -->
   <footer class="copyright py-2 bg-dark text-info text-center text-white" id="footer">
     <div class="container"><small>Copyright © Ajisegiri,<a href="https://learn.umgc.edu/d2l/home/580833">UMGC:SDEV 300</a></small></div>
   </footer>     
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
</html>