<!DOCTYPE html>
<html lang="en">
 <head>
    <!-- Required meta tags -->
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Trying out my very first bootstrap template." />
	<meta name="author" content="" />
	<title>Ajisegiri: Lab7 </title>  
	<link href="../static/CSS/StyleSheet.css" rel="stylesheet" />
 </head>
 <body id="page-top" data-spy="scroll" data-target="#navMenu" data-offset="20">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
	<a class="navbar navbar-brand" href="#page-top"><i class="fas fa-globe"></i>LOGO</a>
	<button class="navbar-toggler navbar-toggler-right bg-dark bg-secondary text-info" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">Menu<a>&equiv;</a></button>
	<div class="collapse navbar-collapse" id="navMenu">
	  <ul class="navbar-nav ml-auto float-right">  
	    <li class="nav-item mx-auto text-center"><a class="text-white p-2" href="/sign_out"><i class="fas fa-sign-out-alt"></i> Sign Out</a></li>
	    <li class="nav-item mx-auto text-center"><a class="text-white p-2" href="/update">Update</a></li>
		<li class="nav-item mx-auto text-center"><a class="text-white p-2" href="/about">About</a></li>
		<li class="nav-item mx-auto text-center"><a class="text-white p-2" href="/idea">Ideas</a></li>
		<li class="nav-item mx-auto text-center"><a class="text-white p-2" href="/contact">Contact</a></li>
	  </ul>
	 </div>
   </nav>
   <!-- About -->
   <section class="content-section text-secondary text-center" id="about">
      <div class="container">
	      <h2 class=" pt-3 mt-4"> Your Blogs </h2>
		  <h4 class=" p-2 mt-2" style="color: blue">Create a new Blog Post<br><a class="btn btn-lg btn-info p-2 text-dark mb-2" href="#">Creat Blog</a></h4>
			<table class="mx-auto py-4 mb-3" style="border:6px solid red">
				<th>Blogs</th>
				<th >Date Created</th> 
				<th>Number of Comments</th>
			  </tr>
			  <tr>
				<td>The rise of Artificial Intelliegence in Daily Life</td>
				<td>April 4, 2017</td>
				<td>50 Comments <a class="btn btn-lg btn-info btn-outline-secondary p-1 text-dark mb-2" href="#">View</a></td>
			  </tr>
			  <tr>
				<td>Indepence Day: America, the Great</td>
				<td>July 4,2020</td>
				<td>4 Comments <a class="btn btn-lg btn-info btn-outline-secondary p-1 text-dark mb-2" href="#">View</a></td>
			  </tr>
			  <tr>
				<td>Merry Christmas or Happy Holidays</td>
				<td>December 12, 2020</td>
				<td>20 Comments <a class="btn btn-lg btn-info btn-outline-secondary p-1 text-dark mb-2" href="#">View</a></td>
			  </tr>
			</table>
	  </div>
   </section>
   <!-- Footer -->
   <footer class="copyright py-4 bg-dark text-info text-center text-white" id="footer">
     <div class="container"><small>Copyright © Ajisegiri</small></div>
   </footer>     
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
</html>