<!DOCTYPE html>
<html lang="en">
 <head>
    <!-- Required meta tags -->
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Trying out my very first bootstrap template." />
	<meta name="author" content="" />
	<title>Ajisegiri: Lab6 </title> 
	<link href="../static/CSS/StyleSheet.css" rel="stylesheet" />
 </head>
 <body id="page-top" data-spy="scroll" data-target="#navMenu" data-offset="20">
 
   <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
	 <a class="navbar navbar-brand" href="#page-top"><i class="fas fa-globe"></i>LOGO</a>
	 <button class="navbar-toggler navbar-toggler-right bg-info text-info" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">Menu<a>&equiv;</a></button>
	 <div class="collapse navbar-collapse" id="navMenu">
	   <ul class="navbar-nav ml-auto float-right">  
			<li class="nav-item mx-auto text-center"><a class="text-white p-2" href="/login"><i class="fas fa-sign-in-alt"></i>Sign In</a></li>
		<li class="nav-item mx-auto text-center"><a class="text-white p-2" href="/about">About</a></li>
		<li class="nav-item mx-auto text-center"><a class="text-white p-2" href="/idea">Ideas</a></li>
		<li class="nav-item mx-auto text-center"><a class="text-white p-2" href="/contact">Contact</a></li>
	   </ul>
	  </div>
    </nav>
   <!-- Mashthead Header -->
   <header class="masthead text-center">
      <div class="container d-flex flex-column align-items-center">
		<h1 class="masthead-heading mt-3 mb-4" >Creative Blogging <br><em>Inc<em></h1>
		<h3 class="mb-4 text-white">
			<small>Thank you for blogging with us.</small>
		</h3>
	  </div>
		<a class="btn btn-lg btn-primary mb-4 py-4" href="/register">Sign Up</a>
   </header>
   <!-- Footer -->
   <footer class="copyright py-2 bg-dark text-info text-center text-white" id="footer">
     <div class="container"><small>Copyright © Ajisegiri</small></div>
   </footer>

      <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
</html>